.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 60px;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.titleImg {
    object-fit: contain;
    width: 130px;
    margin-left: 15px;
}

.signUp{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.rightNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.sessionNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    width: 100%;
}