.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleImg {
    object-fit: contain;
    width: 130px;
}

.signUp{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.rightNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightNavbar > button{
    margin: 10px;
}