.post{
    width: 95vw;
    max-width: 300px;
    border: 1px solid rgb(218, 217, 217);
    margin: auto;
    margin-bottom: 35px;
    background-color: #fff;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 15px 10px 10px 0;
    margin: auto;
}

.postAvatar{
    margin-right:12px;
    margin-left: 10px;
}

.postImg{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid rgb(218, 217, 217);
    border-bottom: 1px solid rgb(218, 217, 217);
}

.postDescription{
    font-weight: normal;
    margin-top: 3%;
}

.postDescription strong,
.addCommentContainer {
    padding: 4%;
}

.comments {
    padding: 1% 4%;
}

.addCommentContainer {
    padding-top: 0;
}

.likeAndComment{
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 27%;
    align-items: center;
}

.likeButton {
    background: transparent;
    border: none;
    outline: none;
    color:grey;
}

.postsOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

@media (min-width: 576px){
    .post{
        margin-bottom: 40px;
        max-width: 500px;
    }

}